/*-------------project------------------*/
main > section {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

.sub-tittle {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 38px;
    color: white;
}

#my-project {
    top: 40px;
    height: 780px;
}

#my-project > h2 {
    bottom: 30px;
}

#my-project > h2 > div {
    width: 41%;
}

#my-project > section {
    position: absolute;
    box-shadow: 10px 13px 8px -5px #282626;
    background-color: #323542;
    width: calc(95% / 3);
    height: calc(700px / 2);
}

#my-project > section:nth-child(3) {
    left: 0;
    right: 0;
    margin: auto;
}

#my-project > section:nth-child(4) {
    right: 0;
}

#my-project > section:nth-child(5) {
    left: 0;
    bottom: 0;
}

#my-project > section:nth-child(6) {
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.project-img {
    top: 25%;
    height: 65%;
}

.project-p {
    padding-top: 36px;
    height: 145px;
    top: 38px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

.project-p:hover {
    height: 200px;
    top: 18px;
}

/*------------assignments----------------*/

#my-assignment {
    height: 1140px;
    top: 95px;
}

#my-assignment > h2 > div {
    width: 38%;
}

#my-assignment > h2 {
    bottom: 20px;
}

.project-tittle {
    top: 0;
    font-size: 20px;

}

#my-assignment > section {
    /*position: absolute;*/
    /*box-shadow:10px 13px 8px -5px #282626;*/
    /*background-color: #323542;*/
    /*width:calc( 95%/3);*/
    /*height: calc(1015px/4);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#my-assignment > section > section {
    position: relative;
    width: calc(95% / 3);
    height: calc(1015px / 4);
    margin-bottom: 35px;
    text-align: center;
    box-shadow: 10px 13px 8px -5px #282626;
    background-color: #323542;
}

/*}*/
/*#my-assignment>section:nth-child(2){*/
/*    top: 0;*/
/*    left: 0;*/
/*    margin:auto ;*/
/*}*/

/*#my-assignment>section:nth-child(3){*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin:auto ;*/
/*}*/
/*#my-assignment>section:nth-child(4){*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/
/*#my-assignment>section:nth-child(5){*/
/*    left: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*}*/
/*#my-assignment>section:nth-child(6){*/
/*    right: 0;*/
/*    left: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*}*/
/*#my-assignment>section:nth-child(7){*/
/*    right: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*}*/
/*#my-assignment>section:nth-child(8){*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*}*/
/*#my-assignment>section:nth-child(9){*/
/*    right: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*}*/
/*#my-assignment>section:nth-child(10){*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*}*/
.assignment-p {
    position: relative;
    text-align: center;
    padding-top: 35px;
    border: 5px solid #ea3131;
    height: 0;
    margin-right: 25px;
    margin-left: 25px;
    padding-left: 50px;
    padding-right: 50px;
    top: 55px;
    font-weight: 500;
    color: #d5c7c7;
    line-height: 1.3;
    background: #000000c2;
    opacity: 0;
    font-size: 20px;
}

.assignment-p:hover {
    opacity: 100%;
    height: 140px;
    top: -10px;
    margin-right: 15px;
    margin-left: 15px;
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

/*-----------------------*/
footer > section {
    position: relative;
    height: 50px;
    top: 150px;
    background-color: #383B49;
}


@media all and (min-width: 320px) and (max-width: 425px) {
    .sub-section {
        width: 560px;
    }

    #my-project {
        top: 40px;
        height: 1750px;
    }

    #my-project > h2 > div {
        width: 31%;
    }

    #my-project > section {
        width: 100%;
        height: 320px;
    }

    #my-project > section:nth-child(3) {
        top: 22%;
        right: 5%;
    }

    #my-project > section:nth-child(4) {
        top: 42%;
    }

    #my-project > section:nth-child(5) {
        left: 0;
        bottom: 20%;
    }

    #my-project > section:nth-child(5) {
        right: 5%;
    }

    #my-project > section:nth-child(6) {
        right: 40px;
    }

    .project-img {
        top: 21%;
        height: 68%;
        width: 74%;
    }

    .project-tittle {
        top: -14px;
        font-size: 30px;
    }

    .project-p {
        height: 165px;
        top: -20px;
    }

    .project-p:hover {
        height: 182px;
        top: -28px;
        font-size: 20px;
    }

    .project-button {
        bottom: 30px;
    }


    #my-assignment {
        height: 3500px;
        top: 155px;
    }

    #my-assignment > h2 > div {
        width: 25%;
    }

    #my-assignment > section > section {
        height: 320px;
        width: 100%;
        text-align: center;
    }

    .assignment-p {
        height: 173px;
        margin-right: 70px;
        margin-left: 70px;
        top: -27px;
    }

    .assignment-p:hover {
        height: 200px;
        top: -40px;
        font-size: 25px;
        margin-right: 50px;
        margin-left: 50px;
    }


    footer > section {
        top: 280px;
        width: 610px;
    }

    footer > section > p {
        font-size: 22px;
    }
}

@media all and (min-width: 426px) and (max-width: 768px) {
    .sub-section {
        width: 730px;
    }

    #my-project > h2 > div {
        width: 35%;
    }

    #my-project > section:nth-child(2) > div > h3 {
        margin-bottom: -20px;
    }

    #my-project > section:nth-child(4) > div > h3 {
        margin-bottom: -20px;
    }

    .project-img {
        height: 60%;
    }

    #my-assignment > h2 > div {
        width: 30%;
    }

    .assignment-p {
        padding-top: 25px;
        height: 118px;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
        top: 0;
    }

    .assignment-p:hover {
        height: 150px;
        top: -15px;
        margin-right: 6px;
        margin-left: 6px;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
    main > section {
        width: 980px;
    }
    #my-project > h2 > div {
        width: 38%;
    }
    #my-assignment > h2 > div {
        width: 35%;
    }
    .project-p:hover {
        height: 200px;
        top: 0px;
    }
    .assignment-p {
        padding-top: 15px;
        height: 150px;
        padding-left: 10px;
        padding-right: 10px;
        top: -30px;
        font-size: 18px;
    }
    .assignment-p:hover {
        height: 155px;
        top: -26px;
        margin-right: 8px;
        margin-left: 8px;
    }

}
@media all and (min-width: 2200px) and (max-width: 2560px) {
    main > section {
        margin-left: 500px;
        margin-right: 500px;
    }
}

