* {
    font-family: Roboto;
    text-decoration: none;
}

/*---------------scroll bar-----------------*/
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ea3131;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/*--------------------------------*/
a {
    color: white;
}

span {
    color: #ef4747;
}

.span {
    font-weight: normal;
    text-decoration: underline;
}

.button {
    color: white;
    font-size: 20px;
    background-color: #323040;
    border: 5px solid #ea3131;
}

.button:hover {
    background-color: #ea3131;
    font-weight: bold;
    box-shadow: 0px 1px 8px 3px #282626;
}

.tittle-line1 {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ea3131;
    height: 10px;
}

.tittle-line2 {
    position: absolute;
    height: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ffffff;
}

.main-title {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 50px;
    color: white;
}

/*------------ Header-navigation---------------------*/

body {
    background-color: #323040;
}

#header {
    position: fixed;
    width: 100%;
    height: 55px;
    backdrop-filter: blur(50px);
    z-index: 100;
}

#header > section {
    position: relative;
    height: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

#header > section > div {
    position: absolute;
    top: 10px;
    width: 150px;
    height: 35px;
    border: 2px solid #ea3131;
}

#header > section > div > h3 {
    position: absolute;
    font-size: 30px;
    left: 10px;
    top: 1px;
    margin: auto;
}

header > section > nav > ul {
    position: absolute;
    margin: auto;
    top: 15px;
    right: 0;
    list-style: none;

}

section > nav > ul > li {
    display: inline-block;
    padding-left: 35px;
}

section > nav > ul > li > a {
    color: #f5f0f0;
    font-size: 23px;
}

section > nav > ul > li > a:hover {
    font-weight: bold;
}

/*---------------home--------------*/
body > main {
    position: relative;
}

.main-section {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #323542;
}

#home {
    height: 515px;
    top: 90px;
    box-shadow: 10px 13px 8px -5px #282626;
}
#home > aside:nth-child(2) {
    position: absolute;
    top: 40px;
    left: 70px;
    margin: auto;
}

#home > aside:nth-child(2) > h3 {
    font-size: 50px;
    color: #ea3131;
    margin-bottom: -22px;
}

#home > aside:nth-child(2) > p {
    color: white;
    font-size: 37px;
    margin-bottom: -30px;
}

#home > aside:nth-child(2) > h1 {
    color: white;
    font-size: 37px;
    margin-bottom: 35px;
    margin-top: 37px;
}

#home > aside:nth-child(2) > button {
    height: 40px;
    width: 100px;
}

#home > aside:nth-child(2) > nav {
    position: relative;
    top: 32px;
}

#home > aside:nth-child(2) > nav > a > img {
    width: 60px;
    height: 60px;
    padding-right: 25px;
}

#home > aside:nth-child(3) {
    position: absolute;
    width: 420px;
    height: 420px;
    top: 0;
    bottom: 0;
    right: 80px;
    border-radius: 50%;
    border: 20px solid #39373d;
    margin: auto;
    background-image: url("../images/myImage.jpg");
    background-size: cover;
}

/*---------------About--------------*/

#about {
    height: 500px;
    box-shadow: 10px 13px 8px -5px #282626;
    top: 212px;
}

#about > h2 {
    bottom: 75px;
}

#about > h2 > div {
    width: 40%;
}

#about > article {
    position: absolute;
    width: 53%;
    height: max-content;
    left: 60px;
    top: 40px;
}

#about > article > h2 {
    position: relative;
    bottom: 30px;
    font-size: 30px;
    color: white;
    text-decoration: underline;
}

#about > article > p {
    color: #d5c7c7;
    font-size: 23px;
    line-height: 1.5;
}

#about > aside > dl {
    position: absolute;
    border: 2px solid #ea3131;
    width: 460px;
    height: 240px;
    top: 55px;
    right: 30px;
    margin: auto;
}

#about > aside > dl > dd {
    position: relative;
    top: 12px;
    color: white;
    font-size: 20px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 55px;
    white-space: pre;
}

#about > aside > dl > dd > b {
    position: relative;
    right: 55px;
}

#about > aside > button {
    position: absolute;
    bottom: 135px;
    right: 185px;
    width: 155px;
    height: 40px;
}

#about > section {
    position: absolute;
    width: 650px;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
    border: 2px solid #ea3131;
    border-radius: 40px;
}

#about > section > p {
    position: relative;
    width: 650px;
    text-align: center;
    color: white;
    font-size: 20px;
}

/*----------------services-----------------------*/

#services {
    height: 550px;
    top: 300px;
    background-color: #323040;
}

#services > h2 {
    bottom: 40px;
}

#services > h2 > div {
    width: 37%;
}

#services > section {
    position: absolute;
    box-shadow: 10px 13px 8px -5px #282626;
    background-color: #323542;
    width: calc(95% / 3);
    height: 500px;
}

#services > section:nth-child(2) {
    left: 0;
}

#services > section:nth-child(3) {
    right: 0;
    left: 0;
    margin: auto;
}

#services > section:nth-child(4) {
    right: 0;
}

.service-img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
}

.service-p1 {
    position: relative;
    text-align: center;
    top: 190px;
    color: white;
    font-size: 25px;
}

.service-p2 {
    position: relative;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    top: 220px;
    font-size: 22px;
    color: #d5c7c7;
    line-height: 1.3;
}

/*------------------skills---------------------*/

#skills {
    height: 500px;
    top: 390px;
    background-color: #323040;
}

#skills > h2 {
    bottom: 25px;
}

#skills > h2 > div {
    width: 40%;
}

#skills > div:nth-child(2) {
    left: 0;
}

#skills > div:nth-child(3) {
    left: 0;
    right: 0;
    margin: auto;
}

#skills > div:nth-child(4) {
    right: 0;
}

#skills > div:nth-child(5) {
    bottom: 0;
    left: 0;
}

#skills > div:nth-child(6) {
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#skills > div:nth-child(7) {
    right: 0;
    bottom: 0;
}

.skills-h1 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 35px;
    bottom: 12px;
}

.skills-p1 {
    color: #d5c7c7;
    position: relative;
    text-align: center;
    font-size: 25px;
    bottom: 30px;
    margin-left: 60px;
}

.skills-p2 {
    color: #d5c7c7;
    position: relative;
    text-align: center;
    font-size: 25px;
    bottom: 30px;
    margin-left: 90px;
}

.skill-div1 {
    width: calc(95% / 3);
    height: calc(410px / 2);
    box-shadow: 10px 13px 8px -5px #282626;
    background-color: #323542;
    position: absolute;
}

.skill-div2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.skills-img {
    position: absolute;
    width: 25%;
    height: 45%;
    left: 50px;
    top: 70px;
}

/*---------------projects---------------*/

#projects {
    height: 500px;
    background-color: #323040;
    top: 535px;
}

#projects > h2 {
    bottom: 80px;
}

#projects > h2 > div {
    width: 38%;
}

#projects > section {
    position: absolute;
    top: 0;
    box-shadow: 10px 13px 8px -5px #282626;
    background-color: #323542;
    width: calc(95% / 3);
    height: 500px;
}

#projects > section:nth-child(2) {
    left: 0;
}

#projects > section:nth-child(3) {
    right: 0;
    left: 0;
    margin: auto;
}

#projects > section:nth-child(4) {
    right: 0;
}

.project-tittle {
    position: relative;
    text-align: center;
    top: 30px;
    color: white;
    font-size: 25px;
}

.project-img {
    position: absolute;
    border-radius: 5%;
    width: 86%;
    height: 55%;
    top: 140px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 90%;
}

.project-p {
    position: relative;
    text-align: center;
    padding-top: 64px;
    border: 5px solid #ea3131;
    height: 195px;
    margin-right: 25px;
    margin-left: 25px;
    padding-left: 50px;
    padding-right: 50px;
    top: 70px;
    font-size: 19px;
    font-weight: 500;
    color: #d5c7c7;
    line-height: 1.3;
    background: #000000c2;
    opacity: 0;
}

.project-p:hover {
    opacity: 100%;
    height: 268px;
    top: 36px;
    margin-right: 15px;
    margin-left: 15px;
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.project-button {
    position: absolute;
    width: max-content;
    height: 30px;
    padding-top: 3px;
    left: 0;
    bottom: 30px;
    right: 0;
    margin: auto;
    color: white;
    font-size: 15px;
    background-color: #323040;
    border: 3px solid #ea3131;
}

.project-button:hover {
    background-color: #67697e;
    font-weight: bold;
    box-shadow: 0px 1px 8px 3px #282626;
    border: 3px solid #67697e;
}

#projects > button {
    position: absolute;
    height: 40px;
    width: 120px;
    right: 0;
    left: 0;
    bottom: -55px;
    margin: auto;
}

/*-----------------education---------------*/

#education {
    height: 500px;
    box-shadow: 10px 13px 8px -5px #282626;
    top: 700px;
}

#education > h2 {
    bottom: 80px;
}

#education > h2 > div {
    width: 36%;
}

#education > aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.white-circle {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

.red-circle {
    position: absolute;
    background-color: #ef4747;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin: auto;
}

.red-line {
    position: absolute;
    background-color: #ef4747;
    height: 5px;
    width: 9vw;
    margin: auto;
}

#education > aside > div:nth-child(1) {
    top: 30px;
}

#education > aside > div:nth-child(2) {
    bottom: 30px;
}

#education > aside > div:nth-child(3) {
    position: absolute;
    background-color: white;
    height: 440px;
    width: 8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#education > aside > div:nth-child(4) {
    left: 0;
    right: 0;
    top: 0;
    bottom: 250px;
}

#education > aside > div:nth-child(5) {
    left: 18vw;
    right: 0;
    top: 0;
    bottom: 250px;
}

#education > aside > div:nth-child(6) {
    left: 9vw;
    right: 0;
    top: 0;
    bottom: 250px;
}

#education > aside > div:nth-child(7) {
    left: 0;
    right: 0;
    top: 250px;
    bottom: 0;
}

#education > aside > div:nth-child(8) {
    left: 18vw;
    right: 0;
    top: 250px;
    bottom: 0;
}

#education > aside > div:nth-child(9) {
    left: 9vw;
    right: 0;
    top: 250px;
    bottom: 0;
}

#education > aside > div:nth-child(10) {
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
}

#education > aside > div:nth-child(11) {
    left: 0;
    right: 18vw;
    top: 0;
    bottom: 0;
}

#education > aside > div:nth-child(12) {
    left: 0;
    right: 9vw;
    top: 0;
    bottom: 0;
}

.education-div {
    position: absolute;
    text-align: center;
    color: #d5c7c7;
    width: 30%;
    border: 2px solid white;
}

#education > aside > div:nth-child(13) {
    bottom: 60%;
    left: 61%;
}

#education > aside > div:nth-child(14) {
    bottom: 36%;
    left: 8.5%;
}

#education > aside > div:nth-child(15) {
    bottom: 10%;
    left: 61%;
}

/*---------------interest-----------*/

#interest {
    height: 350px;
    top: 770px;
    background-color: #323040;
}

#interest > h2 {
    bottom: 30px;
}

#interest > h2 > div {
    width: 32%;
}

#interest > section:nth-child(2) > div {
    position: absolute;
    width: calc(90% / 6);
    height: 150px;
    background-color: #323542;
    box-shadow: 10px 13px 8px -5px #282626;
}

#interest > section:nth-child(2) > div:nth-child(1) {
    left: 0;
}

#interest > section:nth-child(2) > div:nth-child(2) {
    left: calc((100% / 6) * 1);
}

#interest > section:nth-child(2) > div:nth-child(3) {
    left: calc((100% / 6) * 2);
}

#interest > section:nth-child(2) > div:nth-child(4) {
    left: calc((100% / 6) * 3);
}

#interest > section:nth-child(2) > div:nth-child(5) {
    left: calc((100% / 6) * 4);;
}

#interest > section:nth-child(2) > div:nth-child(6) {
    left: calc((100% / 6) * 5);
}

.interest-img {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 0;
    right: 0;
    margin: auto;
    top: 8px;
}

.interest-text {
    position: relative;
    text-align: center;
    font-size: 18px;
    color: #d5c7c7;
    bottom: -95px;
}

#interest > section:nth-child(3) {
    position: absolute;
    width: 650px;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    border: 2px solid #ea3131;
    border-radius: 40px;
}

#interest > section > p {
    text-align: center;
    color: white;
    font-size: 20px;
}

/*------------contacts------------*/
#contact {
    height: 550px;
    top: 900px;
    background-color: #323040;
}

#contact > h2 {
    bottom: 80px;
}

#contact > h2 > div {
    width: 38%;
}

#contact > section:nth-child(2) {
    position: relative;
    width: 40%;
    height: 70%;
    top: 50px;
}

#contact > section:nth-child(2) > div {
    position: absolute;
    width: 70%;
    right: 0;
    bottom: 0;
    margin: auto;
}

#contact > section:nth-child(2) > div:nth-child(1) {
    left: 0;
    top: 0;

}

#contact > section:nth-child(2) > div:nth-child(2) {
    left: 0;
    top: 100px;
}

#contact > section:nth-child(2) > div:nth-child(3) {
    left: 0;
    top: 230px;
}

#contact > section:nth-child(2) > div:nth-child(4) {
    left: 0;
    top: 330px;
}

#contact > section:nth-child(2) > div > img {
    width: 60px;
    height: 60px;
}

.contact-p1 {
    position: absolute;
    width: 80px;
    left: 85px;
    top: -25px;
    font-size: 20px;
    color: white;
}

.contact-p2 {
    position: absolute;
    width: 150px;
    left: 85px;
    top: 10px;
    font-size: 20px;
    color: white;
}

#contact > article {
    position: relative;
    margin-left: 49%;
    margin-right: 60px;
    bottom: 80%;
    color: #d5c7c7;
    font-size: 19px;
}

#contact > section:nth-child(4) {
    position: absolute;
    width: 56%;
    right: 0;
    top: 200px;
}

#contact > section:nth-child(4) > p {
    position: absolute;
    width: max-content;
    top: -35px;
    left: 0;
    right: 0;
    margin: auto;
    color: #ea3131;
    font-size: 22px;
    font-weight: bold;
}

#contact > section:nth-child(4) > form {
    position: absolute;
    width: 100%;
    height: 330px;
    top: 365px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 18px;
}

.contact-form {
    color: white;
    padding-left: 10px;
    border-radius: 10px;
    position: absolute;
    background-color: #383B49;
    width: 80%;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

#contact > section:nth-child(4) > form > input:nth-child(1) {
    top: 0px;
}

#contact > section:nth-child(4) > form > input:nth-child(3) {
    top: calc(40% / 3);
}

#contact > section:nth-child(4) > form > input:nth-child(5) {
    top: calc((40% / 3) * 2);
}

#contact > section:nth-child(4) > form > textarea {
    padding-top: 10px;
    height: 130px;
    top: calc((40% / 3) * 3);
}

#contact > section:nth-child(4) > form > button {
    position: absolute;
    width: 170px;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*-----------------footer---------------*/

footer > section {
    position: relative;
    height: 100px;
    top: 900px;
    background-color: #383B49;
}

footer > section > nav {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

footer > section > nav > a > img {
    width: 45px;
    height: 45px;
    padding-right: 25px;
}

footer > section > p {
    position: relative;
    text-align: center;
    color: white;
    top: 15px;
    font-size: 18px;
    font-weight: bold;
}

/*---------------Media Query---------------*/

@media all and (min-width: 320px) and (max-width: 425px) {


    .button{
        color: white;
        font-size: 30px;
        background-color: #323040;
        border: 5px solid #ea3131;
    }

    #header > section > div {
        top: 15px;
        left: 0;
        right: 0;
        margin: auto;
        width: 190px;
        height: 45px;
    }

    #header > section > div > h3 {
        font-size: 40px;
    }

    #header > section > nav > ul {
        display: none;
    }
    #header {
        height: 85px;
    }
    #home {
        height: 720px;
    }
    .main-section {
        width: 730px;
    }
    #home > aside:nth-child(3) {
        width: 320px;
        height: 320px;
        bottom: 330px;
        left: 0;
        right: 0;
    }
    #home > aside:nth-child(2) {
        top: 335px;
        left: 0;
        right: 0;
    }
    #home > aside:nth-child(2) > h3,#home > aside:nth-child(2) > p, #home > aside:nth-child(2) > h1  {
        text-align: center;
    }
    #home > aside:nth-child(2) > button {
        left: 0;
        right: 0;
        margin: auto;
        bottom: 30px;
        position: absolute;
        height: 52px;
        width: 150px;
    }
    #home > aside:nth-child(2) > nav {
        text-align: center;
        top: 50px;
    }


    #about > h2 {
        bottom: 85px;
    }
    #about > h2 > div {
        width: 33%;
    }
    #about {
        height: 1325px;
        top: 220px;
    }
    #about > aside > dl {
        right: 0;
        left: 0;
        top: 730px;
        width: 620px;
        height: 290px;
        margin: auto;
    }
    #about > aside > dl > dd {
        font-size: 30px;
    }
    #about > aside > button {
        right: 0;
        left: 0;
        bottom: 210px;
        margin: auto;
        width: 220px;
        height: 62px;
    }
    #about > article {
        width: 100%;
        height: max-content;
        left: 22px;
    }
    #about > article > p {
        font-size: 35px;
        width: 95%;
    }
    #about > article > h2 {
        font-size: 40px;
    }
    #about > section > p {
        margin: 22px;
        width: 600px;
        font-size:30px
    }
    #about > section {
        bottom: 45px;
    }

    #services{
        height: 820px;
    }
    #services > h2 > div {
        width: 29%;
    }
    #services > section {
        height:250px;
        width: 100%;
    }
    #services > section:nth-child(3) {
        top: 335px;
    }
    #services > section:nth-child(4) {
        top: 610px;
    }
    .service-img {
        position: absolute;
        right: 440px;
        top: 50px;
    }
    .service-p1 {
        position: absolute;
        left: 300px;
        top: -10px;
        font-size: 30px;
    }
    .service-p2 {
        position: absolute;
        text-align: left;
        width: 360px;
        padding: 0;
        right: 70px;
        top: 81px;
        font-size: 30px;
    }


    #skills{
        height: 730px;
        top: 460px;
    }
    #skills > h2 {
        bottom: 85px;
    }
    #skills > h2 > div {
        width: 34%;
    }
    .skill-div1 {
        width: calc(95% / 2);
        height: calc(660px / 3);
        margin: auto;
    }
    #skills > div:nth-child(2) {
        left: 0;
        top: 0;
    }
    #skills > div:nth-child(3) {
        right: 380px;
        top: 0;
        bottom: 0;
    }
    #skills > div:nth-child(4) {
         right: 0;
         top: 0;
     }
    #skills > div:nth-child(6) {
        top: 0;
        left: 380px;
    }
    .skills-h1 {
        font-size: 40px;
        bottom: 20px;
    }
    .skills-img {
        left: 35px;
        top: 80px;
    }
    .skills-p1 {
        font-size: 35px;
        bottom: 40px;
        margin-left: 60px;
    }
    .skills-p2 {
        font-size: 35px;
        bottom: 50px;
        margin-left: 100px;
    }


    #projects {
        height: 1000px;
        top: 585px;
    }
    #projects > h2 {
        bottom: 85px;
    }
    #projects > h2 > div {
        width: 30%;
    }
    #projects > section {
        width: 100%;
        height: calc(950px/3);
    }
    #projects > section:nth-child(3) {
        bottom: 0;
    }
    #projects > section:nth-child(4) {
        top: 690px;
    }
    .project-tittle {
        top: -20px;
        font-size: 35px;
    }
    .project-img {
        width: 67%;
        height: 69%;
        top: 68px;
    }
    .project-p {
        padding-top: 40px;
        height: 180px;
        margin-left: 115px;
        margin-right: 115px;
        top: -46px;
    }
    .project-p:hover {
        height: 190px;
        top: -50px;
        margin-right: 55px;
        margin-left: 55px;
        font-size: 25px;
    }
    .project-button {
        height: 40px;
        bottom: 12px;
        font-size: 22px;
    }
    #projects > button {
        height: 60px;
        width: 180px;
        bottom: -90px;
    }


    #education {
        top: 790px;
    }
    #education > h2 > div {
        width: 28%;
    }
    .education-div {
        text-align: left;
        padding-left: 20px;
        width: 34%;
        height: 37%;
        font-size: 20px;
    }
    #education > aside > div:nth-child(13) {
        left: 58%;
    }
    #education > aside > div:nth-child(14) {
         left: 4.5%;
     }
    #education > aside > div:nth-child(15) {
        left: 58%;
    }


    #interest {
        top: 860px;
        height: 480px;
    }
    #interest > h2 {
        bottom: 35px;
    }
    #interest > h2 > div {
        width: 20%;
    }
    #interest > section:nth-child(2) > div {
        width: calc(90% / 3);
        height: 200px;
        margin: auto;
    }
    #interest > section:nth-child(2) > div:nth-child(2) {
        left: calc(100%/3);
    }
    #interest > section:nth-child(2) > div:nth-child(3) {
        left: calc((100%/3)*2);
    }
    #interest > section:nth-child(2) > div:nth-child(4) {
        left: 0;
        bottom: 0;
    }
    #interest > section:nth-child(2) > div:nth-child(5) {
        left: calc(100%/3);
        bottom: 0;
    }
    #interest > section:nth-child(2) > div:nth-child(6) {
        left: calc((100%/3)*2);
        bottom: 0;
    }
    .interest-img {
        height: 110px;
        width: 110px;
        top: 20px;
    }
    .interest-text {
        font-size: 25px;
        bottom: -115px;
    }
    #interest > section:nth-child(3) {
        bottom: -130px;
    }
    #interest > section > p {
        font-size: 30px;
    }


    #contact {
        top: 1120px;
    }
    #contact > h2 > div {
        width: 30%;
    }
    #contact > article {
        margin-left: 3%;
        font-size: 30px;
    }
    #contact > section:nth-child(4) {
        width: 100%;
        top: 280px;
    }
    #contact > section:nth-child(4) > p {
        font-size: 28px;
    }
    #contact > section:nth-child(4) > form {
        height: 490px;
        top: 560px;
        font-size: 30px;
    }
    .contact-form {
        color: white;
        height: 45px;
        width: 90%;
        margin: auto;
    }
    #contact > section:nth-child(4) > form > button {
        width: 265px;
        height: 50px;
        bottom: 70px;
    }
    #contact > section:nth-child(2) {
        width: 90%;
        top: 740px;
        right: 120px;
    }
    .contact-p1 {
        font-size: 25px;
    }
    .contact-p2 {
        font-size: 25px;
        width: 200px;
    }
    #contact > section:nth-child(2) > div {
        width: 45%;
    }
    #contact > section:nth-child(2) > div:nth-child(2) {
        left: 500px;
        top: 0;
    }
    #contact > section:nth-child(2) > div:nth-child(3) {
        left: 0;
        top: 150px;
    }
    #contact > section:nth-child(2) > div:nth-child(4) {
        left: 0;
        top: 250px;
    }


    #footer {
        top: 1700px;
        width: 775px;
    }

    #footer > p {
        font-size: 25px;
    }
}

@media all and (min-width: 426px) and (max-width: 768px) {
    .button {
        font-size: 16px;
    }
    .main-section {
        width: 730px;
    }
    #home {
        height: 400px;
    }

    #header > section > div {
        width: 105px;
        height: 25px;
    }

    #header > section > div > h3 {
        font-size: 20px;
    }

    section > nav > ul > li {
        padding-left: 15px;
    }

    section > nav > ul > li > a {
        font-size: 20px;
    }

    #home > aside:nth-child(3) {
        width: 260px;
        height: 300px;
        right: 33px;
        border: 10px solid #39373d
    }

    #home > aside:nth-child(2) {
        left: 35px;
    }

    #home > aside:nth-child(2) > h3 {
        font-size: 35px;
    }

    #home > aside:nth-child(2) > p {
        font-size: 25px;
    }

    #home > aside:nth-child(2) > h1 {
        font-size: 35px;
    }

    #home > aside:nth-child(2) > button {
        height: 35px;
        width: 80px;
    }

    #home > aside:nth-child(2) > nav > a > img {
        width: 45px;
        height: 45px;
        padding-right: 15px;
    }

    #home > aside:nth-child(2) > nav {
        top: 20px;
    }

    #about {
        top: 200px;
        height: 830px;

    }

    #about > h2 > div {
        width: 34%;
    }

    #about > article {
        width: 95%;
        left: 30px;
    }

    #about > aside > dl {
        top: 390px;
        right: 0;
        left: 0;
    }

    #about > aside > button {
        right: 0;
        left: 0;
        width: 130px;
        margin: auto;
    }


    #services {
        top: 260px;
    }

    #services > h2 {
        bottom: 30px;
    }

    #services > h2 > div {
        width: 30%;
    }

    .service-img {
        width: 140px;
        height: 130px;
        top: 30px;
    }

    #services > section:nth-child(2) > div > p:nth-child(2) {
        top: 150px;
    }

    #services > section:nth-child(2) > div > p:nth-child(3) {
        top: 155px;
    }

    .service-p1 {
        top: 170px;
    }

    .service-p2 {
        padding-left: 15px;
        padding-right: 15px;
        top: 185px;
    }

    #skills {
        top: 325px;
        height: 460px;
    }

    #skills > h2 > div {
        width: 34%;
    }

    .skills-h1 {
        font-size: 30px;
    }

    .skill-div1 {
        height: calc(380px / 2);
    }

    .skills-img {
        width: 30%;
        height: 40%;
        left: 20px;
        top: 70px;
    }

    .skills-p1 {
        font-size: 24px;
        bottom: 15px;
    }

    .skills-p2 {
        font-size: 24px;
        bottom: 15px;
    }


    #projects {
        top: 435px;
        height: 355px;
    }

    #projects > h2 > div {
        width: 30%;
    }

    #projects > section {
        height: 350px;
    }

    .project-tittle {
        top: 15px;
        font-size: 20px;
    }

    .project-img {
        top: 110px;
    }

    .project-p {
        height: 173px;
        padding-left: 10px;
        padding-right: 10px;
        top: 23px;
        font-size: 13px;
        padding-top: 20px
    }

    .project-button {
        bottom: 12px;
        font-size: 13px;
    }

    .project-p:hover {
        height: 190px;
        top: 13px;
        margin-right: 6px;
        margin-left: 6px;
    }

    #projects > section:nth-child(3) > div > h3 {
        margin-bottom: 40px;
    }


    #education {
        top: 600px;
    }

    #education > h2 > div {
        width: 28%;
    }

    #education > aside > div:nth-child(13) {
        left: 62%;
    }

    #education > aside > div:nth-child(15) {
        left: 62%;
    }

    #education > aside > div:nth-child(14) {
        left: 7.5%;
    }

    #interest {
        top: 660px;
    }

    #interest > h2 > div {
        width: 20%;
    }

    .interest-img {
        height: 80px;
        width: 80px;
        top: 10px;
    }

    .interest-text {
        font-size: 17px;
        bottom: -85px;
    }

    #interest > section:nth-child(3) {
        bottom: 30px;
    }


    #contact {
        top: 750px;
    }

    #contact > h2 > div {
        width: 31%;
    }

    #contact > article {
        margin-left: 4%;
        font-size: 19px;
    }

    .contact-p2 {
        font-size: 17px;
    }

    #contact > section:nth-child(2) {
        width: 8%;
        top: 130px;
    }

    #contact > section:nth-child(4) > form {
        width: 106%;
        top: 390px;
    }

    footer > section {
        height: 80px;
        top: 800px;
        width: 782px;

    }

    footer > section > nav > a > img {
        width: 35px;
        height: 35px;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px) {

    .main-section {
        width: 975px;
        margin-left: 22px;
    }
    #header > section > div {
        top: 11px;
        width: 128px;
        height: 30px;
    }

    #header > section > div > h3 {
        position: absolute;
        font-size: 25px;
        left: 10px;
        top: 1px;
        margin: auto;
    }
    section > nav > ul > li > a {
        font-size: 20px;
    }
    #home > aside:nth-child(2) > h3 {
        font-size: 40px;
    }
    #home > aside:nth-child(3) {
        width: 360px;
        height: 360px;
        right: 35px;
        border: 10px solid #39373d;
    }
    #home > aside:nth-child(2) {
        left: 40px;
        top: 55px;
    }
    #home > aside:nth-child(2) > nav > a > img {
        width: 50px;
        height: 50px;
    }


    #about {
        height: 770px;
    }
    #about > h2 > div {
        width: 38%;
    }
    #about > article {
        width: 95%;
        left: 35px;
    }
    #about > aside > dl {
        top: 320px;
        right: 0;
        left: 0;
        margin: auto;
    }
    #about > aside > button {
        right: 0;
        left: 0;
        margin: auto;
    }

    #services > h2 > div {
        width: 35%;
    }

    #skills > h2 > div {
        width: 38%;
    }


    #projects {
        height: 420px;
    }
    #projects > h2 > div {
        width: 35%;
    }
    .project-tittle {
        top: 0;
        padding: 10px;
    }
    #projects > section {
        height: 420px;
    }
    .project-img {
        top: 135px;
    }
    #projects > section:nth-child(3) > div > h3 {
        margin-bottom: 54px;
    }


    .project-p {
        padding-top: 30px;
        height: 195px;
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 0px;
        padding-right: 0px;
        top: 8px;
        font-size: 17px;
    }
    .project-p:hover {
        top: -25px;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #education > h2 > div {
        width: 33%;
    }

    #interest > h2 > div {
        width: 27%;
    }
    #contact > h2 > div {
        width: 35%;
    }

    footer>section{
        height: 80px;
        top: 920px;
        width: 1010px;
    }
    footer > section > nav > a > img {
        width: 35px;
        height: 35px;
        padding-right: 25px;
    }
}
@media all and (min-width: 2200px) and (max-width: 2560px) {
    #header {
        width: 62%;
        height: 55px;
        margin-left: 480px;
    }
    .main-section {
        margin-left: 500px;
        margin-right: 500px;
    }
}
